{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">問題5</h1>
        <div class="row">
            <div class="col-md-6 text-center">
                <a href="images/debug_original.png">
                    <img src="images/debug_original.png" alt="正規サイト" class="img-fluid">
                </a>
            </div>
            <div class="col-md-6 text-center">
                <a href="images/debug_fake.png">
                    <img src="images/debug_fake.png" alt="偽サイト" class="img-fluid">
                </a>
            </div>
        </div>
    <form action="{{ url_for('result') }}" method="post" class="text-center mt-4">
        <div class="radio-box">
            <div class="form-check form-check-inline">
                <input class="form-check-input custom-radio" type="radio" id="true" name="answer" value="1" checked>
                <label class="form-check-label fs-4" for="true">左が正規である．</label>
            </div>
        </div>
        <div class="radio-box">
            <div class="form-check form-check-inline">
                <input class="form-check-input custom-radio" type="radio" id="false" name="answer" value="2">
                <label class="form-check-label fs-4" for="false">左が正規である．</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">送信</button>
    </form>
</div>

<style>
    .custom-radio {
        transform: scale(1.8);
        margin-right: 10px;
    }

    .radio-box {
        border: 10px solid black; /* 10pxの黒線 */
        border-radius: 15px; /* 角を丸める */
        padding: 20px; /* 余白を作る */
        display: inline-block; /* 横並びにする */
        width: fit-content; /* 必要な幅だけ確保 */
        margin: 10px; /* 枠間の間隔を調整 */
    }

    /* ラベルの文字を大きくする */
    .form-check-label {
        font-size: 1.5rem;
    }
</style>
{% endblock %}