{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">問題一覧</h1>
        <div class="list-group">
            <a href="/osint" class="list-group-item list-group-item-action text-primary fw-bold">
                ℹ️ 身の回りのセキュリティ
            </a>
            <a href="/question1" class="list-group-item list-group-item-action text-primary fw-bold">
                🔍 QUESTION 1
            </a>
            <a href="/question2" class="list-group-item list-group-item-action text-primary fw-bold">
                🔍 QUESTION 2
            </a>
            <a href="/question3" class="list-group-item list-group-item-action text-primary fw-bold">
                🔍 QUESTION 3
            </a>
            <a href="/question4" class="list-group-item list-group-item-action text-primary fw-bold">
                🔍 QUESTION 4
            </a>
            <a href="/question5" class="list-group-item list-group-item-action text-primary fw-bold">
                🔍 QUESTION 5
            </a>
            <a href="/question6" class="list-group-item list-group-item-action text-primary fw-bold">
                🔍 QUESTION 6
            </a>
            <a href="/question7" class="list-group-item list-group-item-action text-primary fw-bold">
                🔍 QUESTION 7
            </a>
            <a href="/question8" class="list-group-item list-group-item-action text-primary fw-bold">
                🔍 QUESTION 8
            </a>
            <a href="/question9" class="list-group-item list-group-item-action text-primary fw-bold">
                🔍 QUESTION 9
            </a>
        </div>
</div>
{% endblock %}
