{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">問題一覧</h1>
        <div class="list-group">
            <a href="/question" class="list-group-item list-group-item-action text-primary fw-bold">
                🔍 間違い探しゲームに挑戦する
            </a>
            <a href="/mondai-1" class="list-group-item list-group-item-action">カード会社</a>
            <a href="/mondai-2" class="list-group-item list-group-item-action">ECサイト</a>
            <a href="/mondai-3" class="list-group-item list-group-item-action">携帯電話会社</a>
            <a href="/mondai-4" class="list-group-item list-group-item-action">宅配会社</a>
            <a href="/mondai-5" class="list-group-item list-group-item-action">官公庁</a>
        </div>
</div>
{% endblock %}
