{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">問題１</h1>
        <div class="row">
            <div class="col-md-6 text-center">
                <a href="images/debug_original.png">
                    <img src="images/debug_original.png" alt="正規サイト" class="img-fluid">
                </a>
            </div>
            <div class="col-md-6 text-center">
                <a href="images/debug_fake.png">
                    <img src="images/debug_fake.png" alt="偽サイト" class="img-fluid">
                </a>
            </div>
        </div>
</div>
{% endblock %}