{% extends "base.html" %}

{% block content %}
<h2 class="text-center mb-4">問題7</h2>
<p class="text-center">問題：あなたは混雑した新幹線の車内で、パソコンを開き、重要な情報を閲覧しようとしている場合、次のうち、最も安全な対応はどれでしょう？</p>


<div class="row justify-content-center mt-4">
    <div class="col-md-5">
        <form action="{{ url_for('result7') }}" method="POST">
            <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="answer" id="answer1" value="1" required>
                <label class="form-check-label" for="answer1">
                    画面の明るさを下げて、後ろから見えにくくする
                </label>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="answer" id="answer2" value="2">
                <label class="form-check-label" for="answer2">
                    複雑なパスワードを設定しておく
                </label>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="answer" id="answer3" value="3">
                <label class="form-check-label" for="answer3">
                    パスワードを素早く入力する
                </label>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="answer" id="answer4" value="4">
                <label class="form-check-label" for="answer4">
                    ログインする際に、後ろに人がいないか確認し、周りに見えないように入力する
                </label>
            </div>
            <button type="submit" class="btn btn-primary">送信</button>
        </form>
    </div>
</div>
{% endblock %} 